<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" routerLink="/home">yucehanEgitim</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">AnaSayfa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">Hakkimizda</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
        olarak Giris Yap
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/adminLogin">Admin</a>
          <a class="dropdown-item" routerLink="/login">Kullanici</a>
        </div>
      </li>
    </ul>
    
  </div>
</nav>

<div style="background-color: #0E345A; color: white; padding-left: 22%; padding-right: 22%;"><br>
      <p style="text-align: center;" >© 2021 Yucehan Ata Turk.
  </p> 
  <br>
</div>