<div id="card" class="col-lg-8 card shadow-lg"><h1 class="text-center">Urunler</h1>
    <div class="row">
        <div class="col-sm-4" *ngFor="let Course of Courses">
    <div id="card" class="card shadow-lg">
        <div class="flip-card" style=" padding: 5px 5px 5px 5px ;" >
            <div class="flip-card-inner">
            
            <div class="flip-card-back">
                <h1 style="text-align: center;">Aciklama</h1>
                <ul>
                    <li>Yayinlanma Tarihi: {{ Course.publicationYear }}</li>
                    <li>Kurs Aciklamasi: {{ Course.Description}}</li>
                </ul>
            
          </div>
          </div>
        </div>

        <div class="card-body">
            <h5 class="card-title">{{ Course.CourseId }}{{ Course.title }}</h5>
            <p class=" h3 card-text card-text">{{ Course.author }}</p>
            <p class=" h3 card-text card-text">{{ Course.Price }}</p>
           
            
            <div style="margin: auto;">
                <a  class="btn btn-success" (click)=add(Course)>Cantaya Ekle</a>
                 <a class="btn btn-warning" (click)=remove(Course)>Kaldir</a>
            </div>
            
        </div>
    </div>
</div>
</div>
</div>
