 
 
  <div class="container" *ngIf="cartItemList.length>0">
    <div class="card shopping-cart">
      <div class="card-header bg-dark text-light">
        Sepet
        <a routerLink="/Courses" class="btn btn-outline-info btn-sm pull-right">Alisverise Devam Et</a>
        <div class="clearfix"></div>
      </div>
      <div class="card-body" >
        <!-- PRODUCT -->
        <div class="row" *ngFor="let pdt of cartItemList">
          <div class="col-12 col-sm-12 text-left col-md-6">
            <h4 class="product-name"><strong>{{pdt.Title}}</strong></h4>
             
          </div>
          <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
            <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
              <h6><strong>{{pdt.Price | currency: 'TL'}}<span class="text-muted">x</span></strong></h6>
            </div>
            <div class="col-4 col-sm-4 col-md-4">
              <div class="quantity">
                <input type="number" step="1" max="99" min="1" value="1" title="Qty" class="qty" size="4">
              </div>
            </div>
            <div class="col-2 col-sm-2 col-md-2 text-right">
              <button type="button" class="btn btn-outline-danger btn-xs" title="Remove from Cart" (click)="delete()">X</button>
            </div>
          </div>
        </div>
        
        <hr>
        <!-- END PRODUCT -->
        <hr>
      </div>
      <div class="card-footer">
        <div class="pull-right" style="margin: 10px">
          <a routerLink="/checkout" class="btn btn-success pull-right">Odeme</a>
          <div class="pull-right" style="margin: 5px">
            Total price: <b>{{cartTotal | currency:'TL'}}</b>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- If cart is empty -->

  <div class="container-fluid mt-100" *ngIf="cartItemList.length === 0">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5>Sepet</h5>
                </div>
                <div class="card-body cart">
                    <div class="col-sm-12 empty-cart-cls text-center">
                        <h3><strong>Sepetiniz Bos</strong></h3>
                        <h4>Bir seyler ekleyerek beni mutlu edebilirsin :)</h4> <a routerLink="/Courses" class="btn btn-primary cart-btn-transform m-3" data-abc="true">Alisverise devam et</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>