<div class="container custom" style="max-width: 500px;">
    <h3 class="mb-3 mt-5 text-center">Kategori Duzenle</h3>
  
    <div class="form-group">
      <span>Kategori Id:</span> <input type="number" [(ngModel)]="userObj.catId" class="form-control" placeholder="Id">
    </div>
  
    <div class="form-group">
        <span>Kategori İsmi:</span>  <input type="text" [(ngModel)]="userObj.catName" class="form-control" placeholder="Name">
    </div>
  
    <div class="form-group">
        <span>Aciklama:</span>  <input type="email" [(ngModel)]="userObj.description" class="form-control" placeholder="Description">
    </div>

    <div class="form-group">
        <span>Resim:</span>  <input type="email" [(ngModel)]="userObj.imageName" class="form-control" placeholder="ImageName">
      </div>

      <div class="form-group">
        <span>Durum:</span>  <input type="email" [(ngModel)]="userObj.catStatus" class="form-control" placeholder="catStatus">
      </div>

      <div class="form-group">
        <span>Sıralama:</span>  <input type="email" [(ngModel)]="userObj.position" class="form-control" placeholder="Position">
      </div>

      <div class="form-group">
        <span>Olusturma Tarihi:</span> <input type="email" [(ngModel)]="userObj.createdAt" class="form-control" placeholder="CreatedAt">
      </div>
  
    <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" (click)="updateUser(userObj.id, userObj)">Kullanici Duzenle</button>
    </div>  
</div>
