<div class="container main">
    <div class="card custom" style="width: 18rem;">
        <div class="card-body" >
          <h5 class="card-title">Kullanicilar</h5>
          <h6 class="card-subtitle mb-2 text-muted">Kullanici Detaylari</h6>
          <label for="myid"><Strong>Id</Strong></label>
          <p id="myid">{{employees.userId}}</p>
          <label for="myName"><Strong>Kullanıcı İsmi</Strong></label>
          <p id="myName">{{employees.userName}}</p>
          <label for="myEmail"><Strong>Email</Strong></label>
          <p id="myEmail">{{employees.email}}</p>
          <label for="myEmail"><Strong>Sifre</Strong></label>
          <p id="myEmail">{{employees.password}}</p>
          <a routerLink="/manage-user" class="card-link">Ana Sayfa</a>
           
        </div>
      </div>
      </div>
