<div class="container custom">
    <div class="card main" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Kategori</h5>
            <h6 class="card-subtitle mb-2 text-muted">Bireysel Kategori Ayrıntıları</h6>
            <label for="myid"><Strong>Id</Strong></label>
            <p id="myid">{{employees.catId}}</p>
            <label for="myName"><Strong>İsim</Strong></label>
            <p id="myName">{{employees.catName}}</p>
            <label for="myEmail"><Strong>Aciklama</Strong></label>
            <p id="myEmail">{{employees.description}}</p>
            <a routerLink="/admin" class="card-link">Ana Sayfa</a>
        </div>
    </div>
</div>