

<div class="container main" style="max-width: 500px;">
    <h3 class="mb-3 mt-5 text-center">Kullanici Ekle</h3>
  
    <div class="form-group">
      <input type="number" [(ngModel)]="userObj.mobile" class="form-control" placeholder="mobile">
    </div>
  
    <div class="form-group">
      <input type="text" [(ngModel)]="userObj.userName" class="form-control" placeholder="Name">
    </div>
  
    <div class="form-group">
      <input type="email" [(ngModel)]="userObj.email" class="form-control" placeholder="Email">
    </div>

    <div class="form-group">
      <input type="email" [(ngModel)]="userObj.password" class="form-control" placeholder="Password">
    </div>
  
    <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" (click)="addUser(userObj)">Kullanici Ekle</button>
    </div>
  
  </div>
