<div class="row">
  <div class="col-sm-3" *ngFor="let category of categories">
    <div class="card custom" style="width: 25rem;">
      
      <div class="card-body">
        <h5 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 70ch;" class="card-title">{{category.catName}}</h5>
        <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 70ch;" class="card-text">{{category.description}}</p>
        <p class="card-text">{{category.createdAt}}</p>

        <button type="button" class="btn btn-primary" (click)="onButtonClick2(category)">
          duzenle
        </button>&nbsp;

        <button type="button" class="btn btn-primary" (click)="delete(category.catId)">
          sil
        </button>&nbsp;

        <button type="button" class="btn btn-primary" (click)="onButtonClick(category)">
          goruntule
        </button>

      </div>
    </div>
  </div>
</div>