<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
    aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- <a class="navbar-brand" href="#">Navbar</a> -->

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

      <div class="logo-name" fxFlex="15">
        <div class="image" style="display: flex; justify-content: flex-start;">
          <a class="nav-link" routerLinkActive="Active" routerLink="/display-Course">
          </a>

          <!-- <span class="mat-title" fxHide.xs="true">&nbsp;&nbsp;&nbsp;Coursestore</span
          > -->
        </div>
      </div>


      <!-- <li>
            <a href="#"><i class="fa fa-Course fa-2x"></i></a> 
        </li> -->
      <li class="nav-item active">
        <a class="nav-link" routerLink="/Courses">yucehanEgitim</a>
      </li>
      <!-- <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Disabled</a>
        </li> -->
    </ul>

    <div class="search-box col-md-5">

      <div class="input-group mb-3">

        <input type="text"  class="form-control"
          aria-label="Search input with dropdown button">
        <div class="input-group-append">
          <button class="btn btn-success" type="button">
            <i class="fa fa-search fa-lg"></i>
          </button>
        </div>
      </div>

    </div>

    <a class="nav-link" routerLink="/wishlist">
      <i style="color: white; margin-left: 10px;" class="fa fa-gratipay fa-2x" aria-hidden="true"></i>
      <div style="font-size: 10px;" class="badge bg-warning">{{totalItemWish}}</div>
    </a>

    <a class="nav-link" routerLinkActive="Active" routerLink="/cart">
      <i style="color: white;" class="fa fa-shopping-bag  fa-2x" aria-hidden="true"></i>
      <div style="font-size: 10px;" class="badge bg-warning">{{cartCount}}</div>
    </a>
    <div class="dropdown">
      <i style="color: white;" class="fa fa-user fa-2x" aria-hidden="true">
      </i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="dropdown-content pull-right">
        <a routerLink="/login" *ngIf="!isLoggedIn">Giris Yap</a>
        <a routerLink="/Courses" *ngIf="isLoggedIn" (click)="logout()">Cikis</a>
        <a routerLink="/register">Kayit Ol</a>
        <a routerLink="/admin" (click)="isAdminLoggedIn()">Admin</a>
      </div>
    </div>

    <!-- <a class="nav-link" routerLinkActive="Active" routerLink="/cart">
        <i style="color: white;" class="fa fa-user fa-2x" aria-hidden="true">
        </i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </a> -->









  </div>
</nav>